body {
  background-color: bisque;
background-image: linear-gradient(90deg, transparent 50%,
  rgba(255,255,255,.5) 50%);
background-size: 50px 50px;
}
h1 {
  color: orange;
  font-style: italic;
}
label {
  font-style: oblique;
}
input {
  background-color: bisque;
  border-color: orange;
}
textarea {
  background-color: lightgrey;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: thick;
}
img {
  width: 30%;

}
table {
  border-spacing: 50px;
}
